# Object file
*.o

# Portable Document Format files (scanned books, produced files)
*.pdf
# Explicitly allow the PDF original we use as source material
!1629-Geneva-1-*.pdf


# Files produced by LaTeX
*.aux
*.log
*.toc
log.err

# Files produced by TexShop
*.synctex.gz

# Files for the internal configuration of Xcode projects
*.xcodeproj/
