## Input file for xfdfannots program
##
## Each data line describes where to put the notes for a continuous
## set of pages. It consists nine numbers.
## The first three are integers, the other six are floats.
##
## - Integers must be a string of digits
## - Floats must be a string of digits, a dot '.', and more digits
##
## The numbers can be separated with spaces, tabs, commas and curly braces.
## (The curly braces allow copy-and-paste from the source of the program, like
##  {  27,  27, 25, {106.000, 614.000, 19.450}, {500.000, 614.000, 19.450} }, 
##
## Meaning of the values, in order:
## - First page (int): number of the first PDF page in the set
## - Last page  (int): number of the last PDF page in the set
## - Last line  (int): Highest line number to be used in notes on each page. 
##      Usually 40. Can be set to a lower value (e.g. 25) for the first
##      pages of chapters.
## - Three values describing notes on the left-hand page
##    - Left edge (float): The left edge x coordinate of each note
##    - First bottom (float): The bottom y coordinate of the first note
##    - Line height (float): The distance per line from one box to the next
##         As the program mostly puts a note for every fifth line, the distance
##         from note to note will be five times this value.
## - Three values describing notes on the right-hand page
##    These are the same three as for the left-hand page, described above.
##
## Comments can be lines starting with '#', '%' or '//'
## Comments starting with these markers can also be put
## at the end of data lines.
##
## A line can also be a command line. Command lines start with a letter
## (possibly preceded by whitespace).
## The only command defined at the moment is the 'F' command.
##
## The 'F' command defines the filename which is to be used in the
## <f href="..."/> token in the output.
## The 'F' command is followed by whitespace, which is followed by
## a file path. Everything up to the end-of-line is taken to be part of
## that file path.
## Example:
##    F   ../Documents/mywork/The Realy Big File.pdf
## This will result in
##   <f href="../Documents/mywork/The Realy Big File.pdf"/>
## being added near the end of the output.
## If more than one F command is given, only the value of the first one
## in the configuration file will be used. A warning will be printed to
## stderr to notify the user of this fact.
## This command may be overridden by the -f parameter on the command line
## (if it is implemented)
## If neither the F command nor the -f parameter is given, no <f href="..."/>
## entry will be added to the output.
##
## Empty lines and blank lines (with only whitespace) are allowed and ignored.

# A comment
% more comment
// Also comment

#     { First page, last page, last linenr,
#            LH page: {Left edge x of all notes, bottom y of first note, line height}
#                                        RH page: {Left edge x of all notes, bottom y of first note, line height} },
//    {  27,  27, 25, {106.000, 614.000, 19.450}, {500.000, 614.000, 19.450} }, // Prolegomena first page
//    {  28,  78, 40, {106.000, 886.000, 19.450}, {500.000, 880.000, 19.270} }, // Prolegomena
//    {  83,  83, 25, { 82.881, 641.000, 19.400}, {524.267, 641.000, 19.400} }, // Liber Primus first page
//    {  84, 142, 40, { 76.000, 887.000, 19.250}, {524.267, 880.000, 19.250} }, // Liber Primus
//    { 143, 143, 25, { 82.881, 652.000, 19.300}, {524.267, 652.000, 19.300} }, // Liber Secundus first page
//    { 144, 269, 40, { 78.000, 888.000, 19.250}, {526.000, 879.000, 19.200} }, // Liber Secundus
      { 270, 307, 40, { 75.000, 888.000, 19.300}, {524.267, 879.000, 19.300} }, // Liber Tertius
//    { 309, 329, 40, { 68.000, 881.000, 19.300}, {530.000, 881.000, 19.300} }, // Liber Quartus first 20 pages (up to PARAPEGMA)
//    { 309, 435, 40, { 75.000, 888.000, 19.300}, {524.267, 879.000, 19.300} }, // Liber Quartus last xx pages

	F ./1629-Geneva-1-Opus_de_emendatione_temporum_hac_postrem.pdf
